<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        height: 400px;
        width: 100%;
       }

    </style>
  </head>
  <body>
    <h3>Amelio-Rater Maps</h3>
    <Button class='start' type='submit' onClick='addMarker()'> Start </Button>

    <div id="map">

    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script>

      var map;
      var url = "http://192.168.56.1:8000/api/user/584093f96ceb1228fc6cff6e/locations";
      var array= [];
      var marker;
      var timer;
      var markers=[];
      var image;
      var image1;
      var image2;
      var uluru;
      function initMap() {

         var uluru = {lat: 30.1993, lng: 30.1556};
         map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: uluru

        });
         map: map
         //addMarker();

      }
      function addMarker(){

        viewCarMarkerN();
        viewCarMarkerS();
        viewCarMarkerW();
        var i;

        for(i=0; i<array.length;i++){
           (function (i) {
              setTimeout(function () {

                clearMarkers();
                console.log(array[i].lat);
                if(array[i].adb=='N'){
                  uluru = {lat: array[i].lat, lng: array[i].long};
                  marker = new google.maps.Marker({
                   position: uluru,
                   map:map,
                   icon:image
                 });
               }
               else if(array[i].adb=='W'){
                 uluru = {lat: array[i].lat, lng: array[i].long};
                 marker = new google.maps.Marker({
                  position: uluru,
                  map:map,
                  icon:image1
                });

               }
               else{
                 uluru = {lat: array[i].lat, lng: array[i].long};
                 marker = new google.maps.Marker({
                  position: uluru,
                  map:map,
                  icon:image2
                });
               }
               map.setCenter(new google.maps.LatLng(uluru.lat,uluru.lng));
               map.setZoom(17);
               markers.push(marker);
             }, 1500*i);
         })(i);

       }
    }

    function viewCarMarkerN(){
       image = {
        url: 'file:///C:/Users/user/Amelio-Rater/Views/images.png',
        size: new google.maps.Size(100,100),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(0, 32)
      };
    }

    function viewCarMarkerW(){
       image1 = {
        url: 'file:///C:/Users/user/Amelio-Rater/Views/car3.png',
        size: new google.maps.Size(100,100),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(0, 32)
      };
    }
    function viewCarMarkerS(){
       image2 = {
        url: 'file:///C:/Users/user/Amelio-Rater/Views/car4.png',
        size: new google.maps.Size(100,100),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(0, 32)
      };
    }
    function setMapOnAll(map) {
      for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(map);
      }
    }


    function clearMarkers() {
      setMapOnAll(null);
    }



    $(document).ready(function (){
        $(".start").click(function(){
          $.get((url),function(data, status){
              console.log(data);

              $.each(data.location, function (index, location) {
              array.push(location);

            });
            console.log(array);


            });
          });
        });
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnJxXNBwzbK-97UIHKeP5orwNTRydC5hE&callback=initMap">
    </script>

  </body>
</html>
