<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Real Time Monitoring</title>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="/static/css/mapview.css">
  <link rel="stylesheet" href="/static/css/searchCSS.css">
  <link rel="stylesheet" href="/static/css/driverDetailsCSS.css">

  <style>
      #map {
        height: 400px;
        width: 100%;
       }


      .foo {
        float: left;
        width: 20px;
        height: 20px;
        margin: 5px;
        border: 1px solid rgba(0, 0, 0, .2);
      }

      .red {
        background: #f00;
      }

      .yellow {
        background: #ff0;
      }

      .blue {
        background: #00f;
      }
      .green{
        background:#0F0;
      }

    </style>
</head>

<body>
  <div class="site-wrap">
    <nav>
      <ul>
        <li><a href="#">Monitor</a></li>
        <li><a href="#">Search</a></li>
        <li><a href="#">Sign Out</a></li>
      </ul>
    </nav>

    <div class="push-wrap">
      <article>
        <a href="#" class="toggle-nav"><i class="fa fa-bars"></i></a>
        <div class="container">
          <div class="row">
            <div class="col-md-12" style="margin-left: 0.2cm">
              <h3>Amelio-Rater Real Time Monitoring</h3>
              <Button class='start' type='submit' onClick='addMarker()'> Start </Button>
              <div id="map"></div>
              <div>
                <form>
                  <fieldset>
                  <legend>Colour Legend for each Behaviour</legend>
                    <div>
                        <div class="foo blue"></div>
                        <h3>Normal</h3>
                    </div>
                    <div>
                        <div class="foo red"></div>
                        <h3>Weaving</h3>
                    </div>
                    <div>
                        <div class="foo yellow"></div>
                        <h3>Sudden Lane Change</h3>
                    </div>
                    <div>
                        <div class="foo green"></div>
                        <h3>Single Weaving</h3>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>




  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="/static/js/index.js"></script>
  <script src="/static/js/driverDetailsJS.js"></script>
  <script src="/static/js/socket.io.js"></script>
  <div class="byline"><p>search box by <a href="http://speckyboy.com/2012/02/15/how-to-build-a-stylish-css3-search-box/">SpeckyBoy</a> featured on <a href="http://thecodeblock.com/search-box-tutorials-using-css3-jquery/">THE CODE BLOCK</a></p></div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnJxXNBwzbK-97UIHKeP5orwNTRydC5hE&callback=initMap">
  </script>
    <script>
      var map;
    //  var url = "http://localhost:8000/api/user/584093f96ceb1228fc6cff6e/locations";
      var array= [];
      var marker;
      var timer;
      var markers=[];
      var markerN;
      var  markerW;
      var markerS;
      var uluru;

      function initMap() {

         var uluru = {lat: 30.1993, lng: 30.1556};
         map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: uluru

        });
        markerN = {
        url: '/static/img/blue.png',
        size: new google.maps.Size(100,100),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(0, 32)
       };
         markerW = {
         url: '/static/img/red.png',
         size: new google.maps.Size(100,100),
         origin: new google.maps.Point(0, 0),
         anchor: new google.maps.Point(0, 32)
       };
        markerSL = {
           url:'/static/img/yellow.png',
           size: new google.maps.Size(100,100),
           origin: new google.maps.Point(0, 0),
           anchor: new google.maps.Point(0, 32)
         };
         markerSW = {
            url:'/static/img/green.png',
            size: new google.maps.Size(90,90),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(0, 32)
          };

      }

      function addMarker(location) {
          uluru = {lat: location.lat, lng: location.long};
        if(location.adb =='N'){
          marker = new google.maps.Marker({
           position: uluru,
           map:map,
           icon:markerN
         });
       }
       else if(location.adb =='W'){
         marker = new google.maps.Marker({
          position: uluru,
          map:map,
          icon:markerW
        });

       }
       else if(location.adb =='SL'){
         marker = new google.maps.Marker({
          position: uluru,
          map:map,
          icon:markerSL
        });}
        else{
          marker = new google.maps.Marker({
           position: uluru,
           map:map,
           icon:markerSW
         });


      }
      markers.push(marker);
    }


    function setMapOnAll(map) {
      for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(map);
      }
    }


    function clearMarkers() {
      setMapOnAll(null);
    }
    </script>
    <script>
  //  var socket = io.connect('http://localhost');
      var socket = io.connect('https://arcane-tundra-41511.herokuapp.com/');                                 //webhost
      socket.on('trips', function (trips) {
        clearMarkers()
        $.each(trips, function(idx, val){
          addMarker(val.currentLocation[0]);
        })
        setTimeout(function () {
          socket.emit('pullTrips');
        }, 200);
      });
      socket.emit('pullTrips');
    </script>

</body>
</html>
